# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea


# Smart Contract Artifacts
smart-contracts/artifacts/

.env
.env.*
!.env.example
